InstallPartition=default
mode=install
WipeDalvikCache=1
WipeRuntimePermissions=0
execute.d=1
addon_version.d=3

Core=1
>>ExtraFiles=1
>>GooglePlayStore=1
>>GoogleServicesFramework=1
>>GoogleContactsSyncAdapter=1
>>GoogleCalendarSyncAdapter=1
>>GmsCore=1

VancedManager=1
GoogleMessages=1
GoogleDialer=1
GoogleContacts=1
CarrierServices=1
GoogleClock=1
GoogleCalculator=1
Gmail=1
DeviceHealthServices=1
GBoard=1

GoogleFiles=1
>>GoogleFiles=1
>>StorageManager=1

GoogleRecorder=1
GoogleCalendar=1
GoogleKeep=1

YouTubeVancedDark15=1
