# NikGapps Minimal Selected Config (Android 16)

AndroidVersion=16
Version=37
Mode=install

# ---------------- CORE ----------------
Core=1
ExtraFiles=1
GooglePlayStore=1
GoogleServicesFramework=1
GoogleContactsSyncAdapter=1
GoogleCalendarSyncAdapter=1
GmsCore=1

# ---------------- DIGITAL WELLBEING ----------------
DigitalWellbeing=1

# ---------------- SETUP WIZARD ----------------
SetupWizard=1
GoogleRestore=1
GoogleOneTimeInitializer=1

# ---------------- DEVICE HEALTH ----------------
DeviceHealthServices=1

# ---------------- PIXEL SERVICES ----------------
PixelSpecifics=1
DevicePersonalizationServices=1
SettingsServices=1
PrivateComputeServices=1

# ---------------- COMMUNICATION ----------------
GoogleDialer=1
GoogleMessages=1
CarrierServices=1

# ---------------- UTILITIES ----------------
MarkupGoogle=1
GoogleTTS=1
GoogleSounds=1

# ---------------- GOOGLE SEARCH ----------------
GoogleSearch=1
Velvet=1
Assistant=1

# ---------------- CHROME STACK ----------------
GoogleChrome=1
WebViewGoogle=1
TrichromeLibrary=1

# ---------------- DEVICE SETUP ----------------
DeviceSetup=1

# ---------------- ANDROID AUTO (ONLY TOGGLE THIS) ----------------
AndroidAuto=1
