PR_NUMBER=15710
PR_NAME=igorkostic
# NikGapps configuration file

AndroidVersion=16

Version=38

LogDirectory=default
InstallPartition=default
Mode=install
WipeDalvikCache=1
WipeRuntimePermissions=1
ExecuteBackupRestore=1
UseZipConfig=0
OverwriteWithZipConfig=0
GmsOptimization=0
GenerateLogs=1

Core=1
>>ExtraFiles=1
>>GooglePlayStore=1
>>GoogleServicesFramework=1
>>GoogleContactsSyncAdapter=1
>>GoogleCalendarSyncAdapter=1
>>GmsCore=1

DigitalWellbeing=1
GoogleMessages=1
GoogleDialer=1
GoogleContacts=1
CarrierServices=1
GoogleClock=1

SetupWizard=1
>>SetupWizard=1
>>GoogleRestore=1
>>GoogleOneTimeInitializer=1

GoogleCalculator=1
Drive=1
GoogleMaps=1
GoogleLocationHistory=1
GooglePhotos=1
DeviceHealthServices=1
GBoard=1
GoogleCalendar=1
GoogleKeep=1

PixelSpecifics=0
>>PixelLauncher=0
>>DevicePersonalizationServices=0
>>GoogleWallpaper=0
>>QuickAccessWallet=0
>>SettingsServices=0
>>PrivateComputeServices=0
>>PixelThemes=0
>>EmojiWallpaper=0
>>PixelWeather=0
>>AICore=0
