PR_NUMBER=15667
PR_NAME=Coll147
# NikGapps configuration file

# If you are not sure about the config, just skip making changes to it or comment it by adding # before it
# visit https://nikgapps.com/misc/2022/02/22/NikGapps-Config.html to read everything about nikgapps

AndroidVersion=16

Version=38

# set this to the directory you want to copy the logs to.
# for e.g. LogDirectory="/system/etc" will install the logs to /system/etc/nikgapps_logs directory
# by default it will install it to /sdcard/NikGapps/nikgapps_logs
LogDirectory=default

# set to /system, /product or /system_ext if you want to force the installation to aforementioned locations
InstallPartition=default

# set to uninstall if you want to uninstall any google app, also set the value of google app below to -1
Mode=install

# set WipeDalvikCache=0 if you don't want the installer to wipe dalvik/cache after installing the gapps
WipeDalvikCache=1

# set WipeRuntimePermissions=1 if you want to wipe runtime permissions
WipeRuntimePermissions=0

# Addon.d config, set it to 0 to skip the automatic backup/restore while flashing the rom
ExecuteBackupRestore=1

# if you want to force the installer to use the config from gapps zip file, set below to 1
UseZipConfig=1

# if you want to overwrite the config located in /sdcard/NikGapps with gapps zip file, set below to 1. Applicable to decrypted storage only
OverwriteWithZipConfig=0

# set this to 1 if you want to enable gms optimization, careful while doing it, you may experience issues like delayed notification with some Roms
GmsOptimization=1

# set this to 0 if you want to skip generating nikgapps logs, if you run into issues, enable it and flash the zip again to get the logs
GenerateLogs=0

# Following are the packages with default configuration

# Set Core=0 if you want to skip installing all packages belonging to Core Package
Core=1 # Core packages, required to run the playstore
>>ExtraFiles=1 # Package for additional files required to make gapps work
>>GooglePlayStore=1 # Google Play Store, also known as Phonesky
>>GoogleServicesFramework=1 # The Services Framework, in particular, is used to manage and update the various apps made by Google, as well as any application or game that is downloaded from the Google Play Store
>>GoogleContactsSyncAdapter=1 # This package is used to sync the contacts associated to your google account
>>GoogleCalendarSyncAdapter=1 # This package is used to sync the calendar events associated to your google account
>>GmsCore=1 # Google Play Services - heart of google apps

DigitalWellbeing=0 # Digital Wellbeing is AndroidΓÇÖs Digital Wellbeing tools give you a daily view of how often you check your phone and how frequently you use different apps
GoogleMessages=1 # Package for Google Messages app
GoogleDialer=1 # Package for Google Dialer app
GoogleContacts=1 # Package for Google Contacts app
CarrierServices=0 # Package for Message Carrier Service, also for RCS
GoogleClock=1 # Package for Google Clock app

# Set SetupWizard=0 if you want to skip installing all packages belonging to SetupWizard Package
SetupWizard=0 # AppSet that controls Google Setup Wizard components
>>SetupWizard=0 # Package for Google Setup Wizard
>>GoogleRestore=0 # Google Restore lets you restore the backup data
>>GoogleOneTimeInitializer=0 # Lets you choose which apps to install during restore process while youΓÇÖre going through initial setup

GoogleCalculator=0 # Package for Google Calculator app
Drive=0 # Package for Google Drive app
GoogleMaps=1 # Package for Google Maps app
GoogleLocationHistory=1 # Package for Maps location history service
GooglePhotos=0 # Package for Google Photos app
DeviceHealthServices=0 # Package for Device Battery Health Services app
GBoard=1 # Package for Google KeyBoard app
GoogleCalendar=0 # Package for Google Calendar app
GoogleKeep=0 # Google Notebook app

# Set PixelSpecifics=0 if you want to skip installing all packages belonging to PixelSpecifics Package
PixelSpecifics=0
>>PixelLauncher=0 # Package for Pixel Launcher
>>DevicePersonalizationServices=0 # Device Personalization Services is the method through which Google delivers and updates features like Now Playing (on Pixel), Live Caption, and smart actions in notifications to Android devices
>>GoogleWallpaper=0 # Package for Google based Wallpaper app
>>QuickAccessWallet=0 # Quick Access Wallet is for enabling access to wallets on Lock Screen
>>SettingsServices=0 # The Settings app on your phone uses core system software called Settings Services. The software allows setup, connection, and customization for settings on your phone and certain app settings. The system gives permissions to Settings Services for things like displaying information about network connections and connected devices, setting rules for when to activate do not disturb mode, or sending notifications.
>>PrivateComputeServices=0 # PrivateComputeServices is a secure, isolated data processing environment inside of the Android operating system that gives you control of the data inside, such as deciding if, how, and when it is shared with others. This way, PCC can enable features like Live Translate without sharing continuous sensing data with service providers, including Google. PCC is part of Protected Computing, a toolkit of technologies that transforms how, when, and where data is processed to technically ensure its privacy and safety.
>>PixelThemes=0
>>EmojiWallpaper=0
>>PixelWeather=0
>>AICore=0

PlayGames=0 # Google Play Games app
GoogleRecorder=0 # Package for Google Recorder app

# Set GoogleFiles=0 if you want to skip installing all packages belonging to GoogleFiles Package
GoogleFiles=1 # AppSet that controls Google Files components
>>GoogleFiles=0 # Package for Google Files Manager
>>StorageManager=0 # StorageManager is junk cleaner in settings
>>DocumentsUIGoogle=1 # ΓÇ£DocumentsUIGoogleΓÇ¥ is the file manager when you want to import file to an app e.g. select a file in chrome to upload

MarkupGoogle=1 # Photos Markup app used in google photos and also to edit the captured screenshots
GoogleTTS=1 # Google Text-to-speech app, Used by google when used with voice assistant

# Set GoogleSearch=0 if you want to skip installing all packages belonging to GoogleSearch Package
GoogleSearch=1
>>Velvet=1 # Package for main google + assistant app
>>Gemini=0

GoogleSounds=0 # Replaces stock aosp sounds selector with google sounds

# Set GoogleChrome=0 if you want to skip installing all packages belonging to GoogleChrome Package
GoogleChrome=1 # Appset that controls GoogleChrome components
>>GoogleChrome=1 # Google Chrome Browser
>>WebViewGoogle=1 # Webview for opening links from within the app
>>TrichromeLibrary=1 # Chrome Library

Gmail=0 # Package for Gmail app
DeviceSetup=0 # ItΓÇÖs for adding work account, it has noting to do with setupwizard
AndroidAuto=1 # Installs Android auto. Used during driving Car and provides smart assistant
GoogleFeedback=0 # Package for Google Feedback app
GooglePartnerSetup=1 # Google Partner Setup is an app that helps you run applications in conjunction with Google products - For example, you can use the calendar from your device with a ToDo app that youΓÇÖve just installed
AndroidDevicePolicy=0 # It is for Enterprises to manage the devices

# Set CoreGo=0 if you want to skip installing all packages belonging to CoreGo Package
CoreGo=0 # Core packages, required to run the playstore on NikGapps Go builds, do not use this in conjunction with Core Package

# Setting CoreGo=0 will not skip following packages, set them to 0 if you want to skip them  
GoogleGo=0 # Go version of Google App
AssistantGo=0 # Go version of Assistant app
MapsGo=0 # Go version of Google Maps app
NavigationGo=0 # Go version of Google Navigation app
GalleryGo=0 # Go version of Google Gallery app
GmailGo=0 # Go version of Gmail app

# Following are the Addon packages NikGapps supports
PixelSetupWizard=1 # Pixel Setup Wizard addon with all that you need to have pixel setup wizard working
Meet=0
GoogleDocs=0 # Google Documents app
GoogleSheets=0 # Google Excel Sheets app
GoogleSlides=0 # Google Slides app
YouTube=0 # Stock YouTube app
YouTubeMusic=0 # Stock YouTube music app
Books=0 # Google based e-book app
GoogleTalkback=0 # Google Talkback for accessibility for blind persons
GooglePersonalSafety=1

# NikGapps debloater starts here, add all the stuff to add to debloater.config below (for elite and user builds only), check examples below
# YouTube
# /system/app/YouTube
/system/product/app/Etar
/system/product/app/ExactCalculator
/system/product/app/Glimpse
/system/product/app/Jelly
/system/product/app/Twelve
/system/product/app/Recorder
