PR_NUMBER=11994
PR_NAME=Pawan-singh-PS
∩╗┐
# NikGapps Configuration

AndroidVersion=14
Version=35
LogDirectory=default
InstallPartition=default
Mode=install
WipeDalvikCache=1
WipeRuntimePermissions=0
ExecuteBackupRestore=1
UseZipConfig=0
OverwriteWithZipConfig=0
GmsOptimization=1
GenerateLogs=1

Core=1
ExtraFiles=1
GooglePlayStore=1
GoogleServicesFramework=1
GmsCore=1

DigitalWellbeing=1
CarrierServices=1
GoogleClock=0
GoogleMessages=0
GoogleDialer=0
GoogleContacts=0
GooglePhotos=0

SetupWizard=1
GoogleCalculator=0
GoogleDrive=0
GoogleMaps=1
DeviceHealthServices=1
GBoard=0

PixelSpecifics=1
PixelLauncher=1
# Ensures you have the Pixel launcher with search capabilities
DevicePersonalizationServices=1
GoogleWallpaper=1

GoogleSearch=1
# Enable Google Search for the search bar
Assistant=1
GoogleSounds=1

GoogleChrome=0
Gmail=1
DeviceSetup=1
AndroidAuto=1

